html {
    font-family: 'Montserrat', sans-serif;}
body {
    min-width: 320px;
}
input,
button {
    outline: none;
}
.info {
    background-color: #2b2b2b;
    line-height: 24px;
}

.header {
    background:#232323;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
}
.phone{
    display: inline-block;
    text-decoration: none;
    font-size: 1.1428rem;
    color: #7f7f7f;
    line-height: 1.85;
    font-weight:200;
}
.login-menu {
    float: right;
    font-weight:300;
}

    @media (max-width: 450px) {
        .phone, .login-menu {
            display: block;
            float: none;
            text-align: center;
        }
        .logo {
            display: inline-block;
            text-align: center;
            width: 100%;
        }
    }

        .login-menu a {
            color: #666666;
            text-decoration: none;
            font-size: 1.1428rem;
            line-height: 1.85;
        }

        .login-menu a:hover {
            text-decoration: underline;
        }

        .login-menu span {
            margin: 0 10px;
            color: #353535;
            font-size: .75rem;
        }

        .phone,
        .login-menu {
            padding: 5px 0;
        }

        .clearfix::after {
            display: table;
            clear: both;
            content: '';
        }

        .middle form {
            display: inline-block;
            float: right;
            border: 1px solid #323232;
        }

        .logo {
            display: inline-block;
        }

        .logo,
        .middle form {
            margin: 30px 0 26px;
        }


        .form-search,
        .form-search::placeholder {
            font-size: .8125rem;
            font-weight: 200;
            line-height: 1.85;
            color: #666;
        }

        .form-search input {
            background-color: transparent;
            border: none;
            color: #666;
            text-align: center;
            vertical-align: middle;
            margin-top: 15px;
            width: 200px;
        }

        .middle button {
            width: 54px;
            height: 45px;
            background: transparent url(../images/search.png) center center no-repeat;
            border: none;
            padding: 0;
        }
@media (max-width: 450px) {
    .middle form {
        position: relative;
        float: none;
    }
    .form-search {
        width:100%;
    }
    .middle button{
        position: absolute;
        top: 0;
        right: 0;
    }
}

        .form-search,
        .middle button {
            display: inline-block;
            vertical-align: top;

        }

        .menu {
            padding-bottom: 30px;
        }

        .menu ul {
            list-style: none;
            padding: 0;
            margin-left: -20px;
        }

        @media (min-width: 720px) {
            .menu li {
                display: inline-block;
            }
            .menu li + li {
                margin: 0;
            }
        }

        .menu a {
            display: inline-block;
            padding: 10px 20px;
            color: #ffffff;
            font-size: 1rem;
            text-decoration: none;
            font-weight: 400;
            line-height: 1.5;
        }

        .menu .active,
        .menu a:hover {
            color: #be926f;
        }

        .bag {
            width: 17px;
            height: 22px;
            float: right;
            background: url("../images/bag.png") center center no-repeat;
            padding: 10px;
        }

        .bag::after {
            display: inline-block;
            content: '2';
            color: black;
            width: 18px;
            height: 18px;
            background-color: #be926f;
            border-radius: 100%;
            line-height: 18px;
            text-align: center;
            font-size: 12px;
            position: relative;
            top: -9px;
            right: -9px;
        }

        .contact {
            background-color: #e7e7e7;
            border: none;
            margin-top: 30px;

        }

        .contact h2 {
            font-family: 'Montserrat', sans-serif;
            color: #232323;
            text-transform: uppercase;
            font-size: 30px;
            font-weight: 400;
            line-height: 1.625;
            margin: 50px 28px;
            display: inline-block;
        }

        .home span {
            color: #999999;
        }

        .home a {
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
            font-family: 'Montserrat', sans-serif;
            color: #999999;
            text-decoration: none;
            text-transform: uppercase;
        }

        .home a:last-child {
            color: #666666;
            margin-right: 17px;
        }

        .home {
            display: inline-block;
            float: right;
            margin-top: 55px;
        }