html {
    font-family: 'Montserrat', sans-serif;}
input,
button {
    outline: none;
}
.info {
    background-color: #2b2b2b;
    line-height: 24px;

}

.header {
    background:#232323;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
}
.top-flex {
    display: flex;
    justify-content: space-between;
}
.phone{
    text-decoration: none;
    font-size: 14px;
    color: #7f7f7f;
    line-height: 24px;
    font-weight:200;
}
.login-menu {
    font-weight:300;
}

    @media (max-width: 657px) {
        .middle {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            flex-direction: column;
        }
        .logo {
            display: block;
            flex-direction: column;
            justify-content: center;
            margin: 0 auto;
        }
        .middle form {
            flex-direction: column;
            display: block;

        }
        .menu ul {
            display: flex;
            flex-direction: column;
            align-content: center;
        }
        .bag {
            display: flex;
        }
    }
        .login-menu a {
            color: #666666;
            text-decoration: none;
            font-size: 14px;

        }
        .login-menu a:hover {
            text-decoration: underline;
        }

        .login-menu span {
            margin: 0 10px;
            color: #353535;
            font-size: 12px;
        }

        .phone,
        .login-menu {
            padding: 5px 0;
        }
        .middle {
            display:flex;
            justify-content: space-between;
        }
        .middle form {
            border: 1px solid #323232;
        }

        .logo {
            display: inline-block;
        }

        .logo,
        .middle form {
            margin: 30px 0 26px;
        }


        .form-search,
        .form-search::placeholder {
            font-size: 13px;
            font-weight: 300;
            line-height: 24px;
            color: #666;
        }

        .form-search input {
            background-color: transparent;
            border: none;
            color: #666;
            text-align:left;
            vertical-align: middle;
            margin-top: 15px;
            width: 200px;
            padding-left: 15px;
        }

        .middle button {
            width: 54px;
            height: 45px;
            background: transparent url(../images/search.png) center center no-repeat;
            border: none;
            padding: 0;
        }
/*@media (max-width: 450px) {
    .middle form {
        position: relative;
        float: none;
    }
    .form-search {
        width:100%;
    }
    .middle button{
        position: absolute;
        top: 0;
        right: 0;
    }
}*/

        .form-search,
        .middle button {
            display: inline-block;
            vertical-align: top;

        }

        .menu {
            padding-bottom: 30px;
        }

        .menu ul {
            list-style: none;
            padding: 0;
            margin-left: -20px;
        }

        /*@media (min-width: 720px) {
            .menu li {
                display: inline-block;
            }
            .menu li + li {
                margin: 0;
            }
        }*/
        .bottom {
            display: flex;
            justify-content: space-between;
        }
        .menu li {
            display: inline-block;
        }
        .menu a {
            padding: 10px 20px;
            color: #ffffff;
            font-size: 16px;
            text-decoration: none;
            font-weight: 400;
            line-height: 24px;
        }

        .menu .active,
        .menu a:hover {
            color: #be926f;
        }

        .bag {
            width: 17px;
            height: 22px;
            background: url("../images/bag.png") center center no-repeat;
            padding: 10px;
        }

        .bag::after {
            display: inline-block;
            content: '2';
            color: black;
            width: 18px;
            height: 18px;
            background-color: #be926f;
            border-radius: 100%;
            line-height: 18px;
            text-align: center;
            font-size: 12px;
            position: relative;
            top: -9px;
            right: -9px;
        }
        .contact-flex {
            display: flex;
            justify-content: space-between;
        }
        .contact {
            background-color: #e7e7e7;
            border: none;
            margin-top: 30px;

        }

        .contact h2 {
            font-family: 'Montserrat', sans-serif;
            color: #232323;
            text-transform: uppercase;
            font-size: 30px;
            font-weight: 400;
            line-height: 26px;
            margin: 50px 28px;
            display: inline-block;
        }

        .home span {
            color: #999999;
        }

        .home a {
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
            font-family: 'Montserrat', sans-serif;
            color: #999999;
            text-decoration: none;
            text-transform: uppercase;
        }

        .home a:last-child {
            color: #666666;
            margin-right: 17px;
        }

        .home {
            display: inline-block;
            margin-top: 55px;
        }