html {
    font-family: 'Montserrat', sans-serif;
}

.wraper {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0;
    align-items: center;
    display: flex;
    border: 1px solid red;
}

.header {
    background: #44433e;
}

.logo {
    display: block;
    justify-content: space-between;
}

.main-menu li,
.search {
    margin-bottom: 26px;
    margin-top: 26px;
}

.main-menu ul {
    list-style: none;
}

.main-menu li {
    display: inline-block;
    font-size: 13px;
    line-height: 42px;
    margin-left: 18px;
}

.main-menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #b8b8b8;
    font-weight: 700;
    padding-bottom: 56px;
}

.main-menu .active,
.main-menu a:hover {
    color: #2ca086;
}

.main-menu a:hover {
    border-bottom: 3px solid #18cfab;
}

.search {
    margin-left: 32px;
}

.header-top {
    background: #3c3c3c;
}

.header-slogan {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-slogan h3,
.header-slogan h1 {
    color: #ffffff;
}

.wordpress {
    color: #2ca086;
}

.header-slogan h3 {
    padding-top: 246px;
}

.header-slogan h3,
.wordpress {
    font-size: 35px;
    line-height: 9.53px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
}

.header-slogan h1 {
    font-size: 79px;
    line-height: 84.24px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    margin-top: 48px;
}

.header-slogan h2 {
    font-size: 34px;
    line-height: 84.24px;
    font-weight: 200;
    color: #d4d4d4;
    margin: 0;
}

.butons {
    box-sizing: border-box;
    margin-top: 142px;
    padding-bottom: 244px;
}

button.explore,
button.purchase {
    width: 166px;
    height: 60px;
    margin-right: 15px;
    border: none;
    border-radius: 4px;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(25, 255, 255, .8);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

button.explore {
    background: #18cfab;
    outline-color: rgba(24, 207, 171, .9);
}

button.purchase {
    background: #00cbf6;
}

button.explore a,
button.purchase a {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 13px;
    line-height: 31.83px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
}

button.explore:hover,
button.purchase:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .7), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}

.some-div {
    display: block;
    margin-top: 50px;
}

.main-slider {
    display: block;
    position: relative;
    width: 170px;
    height: 105px;
    background: #bb8a36;
}

.main-slider div {
    height: 105px;
    border: none;
}

.slick-arrow {
    position: absolute;
    top: 100%;
}

.slick-prev,
.slick-next {
    width: 65px;
    height: 65px;
    background: #3c4140;
    border: none;
    font-size: 0;
}

.slick-prev {
    left: 0;
    background-image: url(../images/Left-arrow.svg);
}

.slick-next {
    right: 0;
    background-image: url(../images/Right-arrow.svg);
}

.slick-prev:hover,
.slick-next:hover {
    background: #18cfab;
}

.working {
    display: flex;
    flex-direction: row;
}

.theme,
.custom,
.support,
.responsive {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.theme,
.support {
    border-top: 8px solid #18cfab;
}

.custom,
.responsive {
    border-top: 8px solid #ffffff;
}

.working a {
    font-size: 20px;
    line-height: 31.83px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    margin-bottom: 48px;
}

.working a:nth-child(even) {
    color: #2ca086;
}

.working a:nth-child(odd) {
    color: white;
}

.theme,
.support {
    background: #1c2a33;
}

.custom,
.responsive {
    background: #18cfab;
}

.finger,
.brilliant,
.lamp,
.device {
    margin-top: 88px;
}

.working p {
    font-size: 11px;
}

.features {
    display: flex;
}

.features h2 {
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin-top: 102px;
    margin-bottom: 44px;
    position: relative;
    text-align: center;
}

.features h2 span {
    background: transparent;
    position: relative;
    width: 8px;
    height: 8px;
    z-index: 1;
    width: 20px;
    height: 20px;
    text-align: center;
}

.features span:before,
.features span:after,
.some-info span:before,
.some-info span:after,
.service span:after,
.service span:before,
#amazing:after,
#amazing:before,
.service span:after,
.service span:before,
.news span:after,
.news span:before,
.header-price span:after,
.header-price span:before,
.header-opinion span:after,
.header-opinion span:before,
.header-team span:after,
.header-team span:before {
    background-color: #18cfab;
    width: 75px;
    content: "";
    display: block;
    height: 1px;
    margin-top: 3px;
}

.features span:after,
.some-info span:after,
.service span:after,
#amazing:after,
.service span:after,
.news span:after,
.header-price span:after,
.header-opinion span:after {

    margin-right: 50px;
}

.features h3 {
    font-size: 18px;
    line-height: 40px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #717171;
    display: block;
    margin: 0;
    padding-left: 25px;
}

.features a {
    text-decoration: none;
    color: #717171;
}

.features a:active,
.features a:hover {
    color: #18cfab;
}

.features p {
    margin: 0;
    padding-bottom: 75px;
    padding-right: 30px;
}

hr {
    background-color: #18cfab;
    width: 75px;
    margin: 3px;
    text-align: center;
    display: block;
}

.row img {
    float: left;
    fill: #18cfab;
    /*position: absolute;*/
}

.info {
    background: #090f14;
    display: flex;
    justify-content: space-between;
}

.info h2 {
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    display: inline-block;
    margin-top: 100px;
    text-align: center;
    position: relative;
}

.portfolio {
    padding-top: 180px;
    margin-right: 76px;
}

.some-info {
    display: inline-block;
    width: 50%;
}

.menu .active,
.menu a:hover {
    color: #18cfab;
}

.menu a:hover {
    border-top: 2px solid #18cfab;
}

.info nav {
    margin-top: 50px;
}

.menu ul {
    display: inline-block;
    padding: 0;

}

.menu li {
    display: inline-block;
    float: left;
}

.menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f5f5f5;
    font-size: 16px;
    line-height: 42px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 22px;
}

.some-info button {
    height: 40px;
    margin-top: 14px;
    border: none;
    border-radius: 4px;
}

.first {
    background: #9c5da5;
    width: 400px;
}

.second {
    background: #11b0de;
    width: 470px;
}

.third {
    background: #d67f7f;
    width: 370px;
}

.fourth {
    background: #20bc9d;
    width: 500px;
}

.fifth {
    background: #bb8a36;
    width: 470px;
    margin-bottom: 100px;
}

.some-info button p {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 13px;
    line-height: 27px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding-top: 8px;
    text-align: left;
    padding-bottom: 40px;
}

.diagram {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 65px;
}

.our-work {
    background: #f8fcfe;
}

.work {
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}

.work h2 {
    color: #4e4e4e;
    font-size: 36px;
    line-height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 99px;
    display: block;
}

.work li {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    margin-top: 110px;
}

.work a {
    text-decoration: none;
    text-transform: uppercase;
    color: #717171;
    font-size: 14px;
    line-height: 42px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-right: 14px;
    padding-left: 14px;
    padding-top: 24px;
    padding-bottom: 24px;
    border: 1px solid #ebebeb;
}

.design a:hover,
.design a:active {
    border-top: 2px solid #18cfab;
    color: #18cfab;
}

button.load {
    width: 165px;
    height: 60px;
    border-radius: 4px;
    border: none;
    background: #18cfab;
    margin-top: 50px;
    margin-bottom: 100px;
}

.load a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    line-height: 42px;
    font-family: 'Montserz334ckrat', sans-serif;
    font-weight: 700;
    border: none;
}

.load span {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 22px;
    line-height: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.service-info {
    background: #ffffff;
    border-top: 2px solid #e1e1e1;
}

.service {
    flex-direction: column;
    justify-content: space-between;
}

.service h3 {
    color: #4e4e4e;
    font-size: 36px;
    line-height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    display: inline-block;
    margin-top: 103px;
}

.some-menu ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.some-menu li {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    margin-top: 113px;
}

.some-menu li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #ebecec;
    color: #717171;
    font-size: 16px;
    line-height: 39px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 34px;
    padding-right: 34px;
}

.some-menu a:hover {
    color: #ffffff;
}

.some-menu li a:hover {
    border-bottom: none;
}

.some-menu li:hover {
    background: #18cfab;
}

.some-menu li:hover::after {
    content: '';
    position: absolute;
    left: 70px;
    bottom: -40px;
    border: 20px solid transparent;
    border-top: 20px solid #18cfab;
}

.inform {
    flex-direction: row;
}

.inform p {
    color: #777777;
    font-size: 13.66px;
    line-height: 24.39px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    margin-left: 22px;
    text-align: justify;
}

.ready {
    background: #40474b;
}

.buy h2 {
    color: #18cfab;
    font-size: 40px;
    line-height: 40.46px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-top: 130px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.buy p {
    color: #d8d8d8;
    font-size: 16px;
    line-height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 40px;
    display: block;
    text-align: justify;
}

.buy button {
    width: 166px;
    height: 60px;
    background: #18cfab;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    margin-top: 127px;
    display: block;
    text-align: center;
    margin-left: 77px;
}

.buy button a {
    display: block;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 13px;
    line-height: 31.83px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

.breaking-news {
    background: #ffffff;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
    margin-top: 70px;
}

.social-block,
.amazing {
    width: 264px;
}

.social-block {
    border: 1px solid #ececec;
}

.social p.admin:after {
    content: "|";
    /*padding: 10px;*/
}

.post {
    background: #f8fcfe;
    width: 100%;
}

.photo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-profile {
    margin: 0;
    padding: 0;
}

.social-profile a {
    border: 1px solid #c1f2e9;
    display: block;
    padding: 22px;
}

.header-team h2,
.news h2 {
    color: #4e4e4e;
    font-size: 36px;
    line-height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    display: block;
    text-align: center;
}

.header-team h2 {
    margin-top: 103px;
}

.news h2 {
    margin-bottom: 30px;
    margin-top: 103px;
}

.social h2 {
    color: #4e4e4e;
    font-size: 18px;
    line-height: 38.97px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: inline-block;
    text-align: left;
    margin: 0;
    padding: 16px;
    padding-bottom: 0;
}

.social p {
    display: inline-block;
    padding: 16px;
    padding-bottom: 14px;
    margin: 0;
}

.works,
.purchasing {
    background: #25333c;
}

.customers,
.office {
    background: #18cfab;
}

.works,
.customers,
.purchasing,
.office {
    display: inline-block;
    width: 25%;
}

.works,
.purchasing {
    border-top: 8px solid #18cfab;
}

.customers,
.office {
    border-top: 8px solid #25333c;
}

.work-info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

}

.work-info img {
    display: block;
    margin: 0 auto;
    padding: 0;
    vertical-align: middle;
}

.work-info a {
    font-size: 20px;
    line-height: 31.83px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 48px;
}

.work-info h3 {
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    display: block;
}

.work-info p {
    font-size: 18px;
    line-height: 42px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: block;
}

.works p,
.purchasing p {
    color: #18cfab;
}

.customers p,
.office p {
    color: #25333c;
}

.background-icon,
.background {
    width: 108px;
    height: 108px;
    background: #25333c;
    border-radius: 100%;
    margin: 0 auto;
    margin-top: 30px;
}

.background-icon a,
.background a {
    margin: 0 auto;
    padding-top: 40px;
    display: block;
}

.background {
    background: #18cfab;
}

.circle,
.some-circle {
    background: transparent;
    width: 166px;
    height: 166px;
    border-radius: 100%;
    margin: 0 auto;
    padding: 0;
    margin-top: 60px;
    margin-bottom: 25px;
}

.circle {
    border: 2px solid #25333c;
}

.some-circle {
    border: 2px solid #18cfab;
}

.table {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 103px;
}

.table button {
    width: 173px;
    height: 50px;
    background: #2e4a5b;
    border-radius: 3px;
    margin: 25px 29px;
}

.table button a {
    color: white;
    font-size: 13.66px;
    line-height: 54.63px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding: 15px 35px;
}

.price {
    display: flex;
    flex-direction: row;
    background: #f8fcfe;
}

.price h3 {
    color: #717171;
    font-size: 24px;
    line-height: 39.02px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 25px;
}

.header-price h2 {
    color: #4e4e4e;
    font-size: 36px;
    line-height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    display: block;
    text-align: center;
    margin-top: 101px;
}

.cost {
    background: #2e4a5b;
}

.price ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

.professional li a,
.business li a,
.personal li a,
.diamond li a {
    color: #777777;
    text-decoration: none;
    font-size: 14px;
    line-height: 46.83px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    vertical-align: center;
    display: block;
    border-bottom: 1px solid #e5e6e7;
}

.cost p {
    color: white;
    font-size: 39.02px;
    line-height: 34.15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: block;
    text-align: center;
    padding: 31px;
}

.cost span {
    color: white;
    font-size: 13.66px;
    line-height: 34.15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    display: inline-block;
    text-align: center;
}

.professional,
.business,
.personal,
.diamond {
    width: 284px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
}

.table button:hover,
.cost:hover {
    background-color: #18cfab;
}

.table h3:hover,
.check-user h2:hover {
    color: #18cfab;
}

.opinion {
    background: #2e404d;
}

.header-opinion h2 {
    color: #ffffff;
    font-size: 36px;
    line-height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    display: block;
    text-align: center;
    padding-top: 100px;
}

.people p {
    color: #bbbbbb;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    display: block;
    text-align: center;
    padding: 31px;
}

.outer {

}

.inner {

}

/*.custom-slider {*/
/*border-radius: 100%;*/
/*width: 57px;*/
/*height: 57px;*/
/*border: 10px solid #2b5f62;*/
/*color: #3c3c3c;*/
/*display: block;*/
/*position: relative;*/
/*background: #bb8a36;*/
/*display: inline-block;*/
/*float: left;*/
/*}*/
/*.slider-for div {*/
/*border-radius: 100%;*/
/*width: 57px;*/
/*height: 57px;*/
/*}*/

/*.custom-slider div {*/
/*border: none;*/
/*}*/
/*.slick-arrow {*/
/*position: absolute;*/
/*top: 50%;*/
/*}*/
/*.slick-prev,*/
/*.slick-next {*/
/*width: 31px;*/
/*height: 31px;*/
/*background: #3c4140;*/
/*border: none;*/
/*font-size: 0;*/
/*}*/
/*.slick-prev {*/
/*left: 0;*/
/*background-image: url(../images/Left-arrow.svg);*/
/*}*/
/*.slick-next {*/
/*right: 0;*/
/*background-image: url(../images/Right-arrow.svg);*/
/*}*/
/*.slick-prev:hover,*/
/*.slick-next:hover {*/
/*background: #18cfab ;*/
/*}*/

.check-user h2 {
    color: #bbbbbb;
    font-size: 16px;
    line-height: 27px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: block;
    text-transform: uppercase;
    text-align: center;
}

.check-user p {
    color: #bbbbbb;
    font-size: 13px;
    line-height: 27px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    display: block;
}

.tell p:before {
    content: url("../images/Forma.png");
}

.team {
    background: #ffffff;
    margin-top: 101px;

}

.team article {
    color: #fff;
    font-weight: 400;
    padding-top: 21px;
    padding-left: 25px;
}

.team p {
    color: #18cfab;
    font-weight: 200;
    padding-bottom: 21px;
    padding-left: 25px;
}

.team article,
.team p {
    font-size: 16px;
    line-height: 38.95px;
    font-family: 'Montserrat', sans-serif;
    display: block;
}

.social-profile {
    background: #2e4a5b;
    display: inline-block;
    width: 25%;
    margin: 0;
    padding: 0;
}

.social-profile a:hover {
    transform: perspective(300px) rotateY(180deg);
    color: #eee;
    transition: transform 0.2s linear, background-color 0s linear 0.1s, color 0s linear 0.1s;
}

.social-profile a:nth-child(1):hover {
    background-color: #3B5998;
}

.social-profile a:nth-child(2):hover {
    background-color: #00ACED;
}

.social-profile a:nth-child(3):hover {
    background-color: #3B5998;
}

.social-profile a:nth-child(4):hover {
    background-color: #00ACED;
}

.team-lead {
    background: #2e4a5b;
    width: 264px;
}

.header-team {
    display: block;
    text-align: center;
}

.header-team span {
    display: block;
    text-align: center;
}

.creative {
    background: #233641;
}

.creative-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.header-creative h2 {
    color: #ffffff;
    font-size: 51px;
    line-height: 62px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    padding-top: 130px;
    margin: 0 auto;
}

.header-creative p {
    color: #18cfab;
    font-size: 47px;
    line-height: 65px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
}

.ipad {
    margin-right: 60px;
    margin-bottom: 20px;
    position: relative;
}

.list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-left: 490px;
    width: 100%;
    position: absolute;
}

.list ul {
    list-style: url("../images/ok.png");
}

.list li {
    color: #f7f7f7;
    padding-left: 21px;
}

.list li + li {
    padding-top: 15px;
}

.creative button {
    width: 166px;
    height: 60px;
    border: none;
    border-radius: 4px;
    margin-top: 70px;
    background: #18cfab;
}

.creative a {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 13px;
    line-height: 31.83px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
}

.place {
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.second-block h2 {
    color: #4e4e4e;
    font-size: 36.02px;
    line-height: 40.02px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    display: inline-block;
    text-align: center;
    padding-top: 130px;
    margin: 0 auto;
}

.name-form,
.name-form::placeholder,
.email-form,
.email-form::placeholder,
.message-form,
.message-form::placeholder {
    font-size: 14.01px;
    font-weight: 200;
    line-height: 19.01px;
    margin: 10px;
    display: block;
    border: none;
    color: #90aebd;
}

.name-form input,
.email-form input,
.message-form input {
    width: 555px;
    background-color: transparent;
    vertical-align: middle;
    color: #666;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #d7e2e0;
}

input,
button {
    outline: none;
}

#map {
    width: 945px;
    height: 551px;
    display: block;
    margin-top: 130px;
}

.request {
    width: 555px;
    background-color: #18cfab;
    border-radius: 4px;
    border: none;
}

.request a {
    color: #fff;
    font-size: 14.01px;
    line-height: 16.01px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}

.footer {
    background-color: #22353f;
}

.content p,
.content span {
    color: #aeaeae;
    font-size: 14px;
    line-height: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    padding-top: 47px;
    padding-bottom: 47px;
}

.content span {
    color: #18cfab;
}