
body {
    min-width: 320px;
    font-family: 'Montserrat', sans-serif;
}

.wraper {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0;
    align-items: center;
    display: flex;
}

.header {
    background: #44433e;
}
.header-site {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.logo {
    display: block;
    justify-content: space-between;
}

.main-menu li,
.search {
    margin-bottom: 26px;
    margin-top: 26px;
}

.main-menu ul {
    list-style: none;
}

.main-menu li {
    display: inline-block;
    font-size: 13px;
    line-height: 42px;
    margin-left: 18px;
}

.main-menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #b8b8b8;
    font-weight: 700;
    padding-bottom: 56px;
}

.main-menu .active,
.main-menu a:hover {
    color: #2ca086;
}

.main-menu a:hover {
    border-bottom: 3px solid #18cfab;
}
#toggle-button {
    background: transparent;
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url("../images/Search.png");
    background-repeat: no-repeat;
    background-position: center center;
    /*margin-left: 30px;*/
    /*margin-bottom: 10px;*/
}
.some-form {
    display: inline-block;
    border-radius: 40%;
    border: none;
    position: relative;
    /*margin-top: 30px;*/
}
.some-form input {
    width: 0px;
    background: transparent;
    border-radius: 10px;
    border: 2px solid #4f4d4d;
    color: #919198;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    /*position: relative;*/
}

.header-top {
    background-image: url("../images/Background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

.header-slogan {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*.features h2::before,*/
/*.some-info h2::before,*/
/*.service h3::before,*/
/*#amazing::before,*/
/*.news h2::before,*/
/*.header-work h2::before,*/
/*.header-price p::before,*/
/*.header-opinion h2::before,*/
/*.header-team h2::before,*/
/*.second-block h2::before {*/
    /*content: "";*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: calc(50% - 76px);*/
    /*border-top: 1px solid #18cfab;*/
    /*width: 76px;*/
    /*height: 3px;*/
/*}*/

/*.features h2::after,*/
/*.some-info h2::after,*/
/*.service h3::after,*/
/*#amazing::after,*/
/*.news h2::after,*/
/*.header-work h2::after,*/
/*.header-price p::after,*/
/*.header-opinion h2::after,*/
/*.header-team h2::after,*/
/*.second-block h2::after {*/
    /*content: "";*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: calc(50% - 62px);*/
    /*border-bottom: 1px solid #18cfab;*/
    /*width: 76px;*/
/*}*/
.header-slogan h3,
.header-slogan h1 {
    color: #ffffff;
}

.wordpress {
    color: #2ca086;
}

.header-slogan h3 {
    padding-top: 246px;
}

.header-slogan h3,
.wordpress {
    font-size: 35px;
    line-height: 9.53px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
}

.header-slogan h1 {
    font-size: 79px;
    line-height: 84.24px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    margin-top: 48px;
}

.header-slogan h2 {
    font-size: 34px;
    line-height: 84.24px;
    font-weight: 200;
    color: #d4d4d4;
    margin: 0;
}

.butons {
    box-sizing: border-box;
    margin-top: 142px;
    padding-bottom: 244px;
}

button.explore,
button.purchase {
    width: 166px;
    height: 60px;
    margin-right: 15px;
    border: none;
    border-radius: 4px;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(25, 255, 255, .8);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

button.explore {
    background: #18cfab;
    outline-color: rgba(24, 207, 171, .9);
}

button.purchase {
    background: #00cbf6;
}

button.explore a,
button.purchase a {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 13px;
    line-height: 31.83px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
}

button.explore:hover,
button.purchase:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .7), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}

.working {
    display: flex;
    flex-direction: row;
}

.theme,
.custom,
.support,
.responsive {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.theme,
.support {
    border-top: 8px solid #18cfab;
}

.custom,
.responsive {
    border-top: 8px solid #ffffff;
}

.working a {
    font-size: 20px;
    line-height: 31.83px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    margin-bottom: 48px;
}

.working a:nth-child(even) {
    color: #2ca086;
}

.working a:nth-child(odd) {
    color: white;
}

.theme,
.support {
    background: #1c2a33;
}

.custom,
.responsive {
    background: #18cfab;
}

.finger,
.brilliant,
.lamp,
.device {
    margin-top: 88px;
}

.working p {
    font-size: 11px;
}

.features h2 {
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    margin-top: 102px;
    margin-bottom: 44px;
    position: relative;
    text-align: center;
}

.features h3 {
    font-size: 18px;
    line-height: 40px;
    font-weight: 700;
    color: #717171;
    display: block;
    margin: 0;
    padding-left: 25px;
    position: relative;
}

.features a {
    text-decoration: none;
    color: #717171;
}

.features a:active,
.features a:hover {
    color: #18cfab;
}

.features p {
    margin: 0;
    padding-bottom: 75px;
    padding-right: 30px;
}

hr {
    background-color: #18cfab;
    width: 75px;
    margin: 3px;
    text-align: center;
    display: block;
}

.row img {
    float: left;
    fill: #18cfab;
    margin-right: 23px;
    /*position: absolute;*/
}

.info {
    background: #090f14;
    display: flex;
    justify-content: space-between;
}

.info h2 {
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    color: #ffffff;
    display: inline-block;
    margin-top: 100px;
    text-align: center;
    position: relative;
}

.portfolio {
    padding-top: 180px;
    margin-right: 76px;
}

.some-info {
    display: inline-block;
    width: 50%;
}

.menu .active,
.menu a:hover {
    color: #18cfab;
}

.menu a:hover {
    border-top: 2px solid #18cfab;
}

.info nav {
    margin-top: 50px;
}

.menu ul {
    display: inline-block;
    padding: 0;

}

.menu li {
    display: inline-block;
    float: left;
}

.menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f5f5f5;
    font-size: 16px;
    line-height: 42px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 22px;
}

.some-info button {
    height: 40px;
    margin-top: 14px;
    border: none;
    border-radius: 4px;
}

.first {
    background: #9c5da5;
    width: 400px;
}

.second {
    background: #11b0de;
    width: 470px;
}

.third {
    background: #d67f7f;
    width: 370px;
}

.fourth {
    background: #20bc9d;
    width: 500px;
}

.fifth {
    background: #bb8a36;
    width: 470px;
    margin-bottom: 100px;
}

.some-info button p {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 13px;
    line-height: 27px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 8px;
    text-align: left;
    padding-bottom: 40px;
}

.diagram {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 65px;
}

.our-work {
    background: #f8fcfe;
}

.work {
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}

.work h2 {
    color: #4e4e4e;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    margin-top: 99px;
    display: block;
}

.work li {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    margin-top: 110px;
}

.work a {
    text-decoration: none;
    text-transform: uppercase;
    color: #717171;
    font-size: 14px;
    line-height: 42px;
    font-weight: 400;
    padding-right: 14px;
    padding-left: 14px;
    padding-top: 24px;
    padding-bottom: 24px;
    border: 1px solid #ebebeb;
}
.design {
    margin-bottom: 75px;
}
.design a:hover,
.design a:active {
    border-top: 2px solid #18cfab;
    color: #18cfab;
}
.sorting-container .mix {
    display: none;
}
.sorting-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.sorting-container div {
    display: block;
    width: 25%;
}
button.load {
    width: 165px;
    height: 60px;
    border-radius: 4px;
    border: none;
    background: #18cfab;
    margin-top: 50px;
    margin-bottom: 100px;
}

.load a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    line-height: 42px;
    font-weight: 700;
    border: none;
}

.load span {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 22px;
    line-height: 36px;
    font-weight: 700;
}

.service-info {
    background: #ffffff;
    border-top: 2px solid #e1e1e1;
}

.service {
    flex-direction: column;
    justify-content: space-between;
}

.service h3 {
    color: #4e4e4e;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    display: inline-block;
    margin-top: 103px;
}
.main-menu {
    margin-left: 120px;
}
.some-menu ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.some-menu li {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    margin-top: 113px;
    text-align: left;
}

.some-menu li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #ebecec;
    color: #717171;
    font-size: 16px;
    line-height: 39px;
    font-weight: 400;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 28px;
    padding-right: 28px;
}

.some-menu a:hover {
    color: #ffffff;
}

.some-menu li a:hover {
    border-bottom: none;
}

.some-menu li:hover {
    background: #18cfab;
}

.some-menu li:hover::after {
    content: '';
    position: absolute;
    left: 70px;
    bottom: -40px;
    border: 20px solid transparent;
    border-top: 20px solid #18cfab;
}

#tab-1 p,
#tab-2 p,
#tab-3 p,
#tab-4 p,
#tab-5 p,
#tab-6 p {
    color: #777777;
    font-size: 13.66px;
    line-height: 24.39px;
    font-weight: 200;
    margin-left: 22px;
    text-align: justify;
}
#tab-1 img {
    float: right;
}

.ready {
    /*background: #40474b;*/
    background-image: url("../images/fon.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    opacity: .85;
}
.buy {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.buy h2 {
    color: #18cfab;
    font-size: 40px;
    line-height: 40.46px;
    font-weight: 700;
    padding-top: 130px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.buy p {
    color: #d8d8d8;
    font-size: 16px;
    line-height: 40px;
    font-weight: 400;
    margin-top: 40px;
    display: block;
    text-align: justify;
}

.buy button {
    width: 166px;
    height: 60px;
    background: #18cfab;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    margin-top: 127px;
    display: block;
    text-align: center;
    margin-left: 77px;
    /*margin-top: 80px;*/
    margin-bottom: 127px;
}

.buy button a {
    display: block;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 13px;
    line-height: 31.83px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 20px;
}

.breaking-news {
    background: #ffffff;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
    margin-top: 70px;
}

.social-block,
.amazing {
    width: 264px;
}

.social-block {
    border: 1px solid #ececec;
    position: relative;
}
.social-block a {
    text-decoration: none;
}

.social p.admin:after {
    content: "|";
}
.date {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70px;
    height: 70px;
    right: 0;
    top: 0;
    background-color: #203e38;
    position: absolute;
    border: none;

}
.date span a {
    color: #fff;
    font-size: 16px;
    line-height: 25.33px;
    font-weight: 400;
    display: block;
    text-align: center;
    padding: 3px;
}
.post {
    background: #f8fcfe;
    width: 100%;
}
.date:hover {
    background: #18cfab;
}
.social-block a {
    color: #717171;
}
.post h2 a:hover,
.post p a:hover{
    color: #18cfab;
}
.photo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 70px;
    margin-bottom: 100px;
}
.find-us {
    width: 100%;
    height: auto;
}
.find-us ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.social-profile {
    margin: 0;
    padding: 0;
}

.social-profile a {
    border: 1px solid #c1f2e9;
    display: block;
    padding: 22px;
    text-align: center;
}

.news h2 {
    color: #4e4e4e;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    display: block;
    text-align: center;
}
.some-member {
    display: block;
    width: 100%;
    height: auto;
    top:0;
    right: 0;
    left: 0;
}
.some-member li {
    list-style: none;
    text-align: left;
    margin: 0 auto;
    padding: 0;
}
.some-member li:first-child {
    font-size: 16px;
    line-height: 38.95px;
    font-weight: 700;
    color: #fff;
    padding-top: 20px;
}
.some-member li:nth-child(2) {
    font-size: 13px;
    line-height: 38.95px;
    font-weight: 200;
    color: #18cfab;
}
.team-lead:hover .social-profile, .team-lead:hover {
    background: #18cfab;
}
.team-lead:hover .some-member li:nth-child(2){
    color: #2e4a5b;
}

.header-team h2 {
    margin-top: 103px;
}
.header-team span:before,
.header-team span:after{
    display: block;
    margin: 0 auto;
}
/**----------------Breaking-news---------------------------**/
.news h2 {
    margin-bottom: 30px;
    margin-top: 103px;
}

.social h2 {
    color: #4e4e4e;
    font-size: 18px;
    line-height: 38.97px;
    font-weight: 700;
    display: inline-block;
    text-align: left;
    margin: 0;
    padding: 16px;
    padding-bottom: 0;
}

.social p {
    display: inline-block;
    padding: 16px;
    padding-bottom: 14px;
    margin: 0;
}

.works,
.purchasing {
    background: #25333c;
}

.customers,
.office {
    background: #18cfab;
}

.works,
.customers,
.purchasing,
.office {
    display: inline-block;
    width: 25%;
}

.works,
.purchasing {
    border-top: 8px solid #18cfab;
}

.customers,
.office {
    border-top: 8px solid #25333c;
}

.work-info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

}

.work-info img {
    display: block;
    margin: 0 auto;
    padding: 0;
    vertical-align: middle;
}

.work-info a {
    font-size: 20px;
    line-height: 31.83px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 48px;
}

.work-info h3 {
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    color: white;
    text-align: center;
    display: block;
}

.work-info p {
    font-size: 18px;
    line-height: 42px;
    font-weight: 200;
    text-align: center;
    display: block;
}

.works p,
.purchasing p {
    color: #18cfab;
}

.customers p,
.office p {
    color: #25333c;
}

.background-icon,
.background {
    width: 108px;
    height: 108px;
    background: #25333c;
    border-radius: 100%;
    margin: 0 auto;
    margin-top: 30px;
}

.background-icon a,
.background a {
    margin: 0 auto;
    padding-top: 40px;
    display: block;
}

.background {
    background: #18cfab;
}

.circle,
.some-circle {
    background: transparent;
    width: 166px;
    height: 166px;
    border-radius: 100%;
    margin: 0 auto;
    padding: 0;
    margin-top: 60px;
    margin-bottom: 25px;
}

.circle {
    border: 2px solid #25333c;
}

.some-circle {
    border: 2px solid #18cfab;
}

.table {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 103px;
}

.table button {
    width: 173px;
    height: 50px;
    background: #2e4a5b;
    border-radius: 3px;
    margin: 25px 29px;
}

.table button a {
    color: white;
    font-size: 13.66px;
    line-height: 54.63px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding: 15px 35px;
}
.header-price {
    display: block;
}
.price {
    background: #f8fcfe;
}
.propose {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    vertical-align: center;
    margin-top: 70px;
}
.propose button {
    margin-left: 50px;
}
.price h3 {
    color: #717171;
    font-size: 24px;
    line-height: 39.02px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 25px;
}

.header-price p {
    color: #4e4e4e;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    display: block;
    text-align: center;
    margin-top: 101px;
}

.cost {
    background: #2e4a5b;
}

.price ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

.professional li a,
.business li a,
.personal li a,
.diamond li a {
    color: #777777;
    text-decoration: none;
    font-size: 14px;
    line-height: 46.83px;
    font-weight: 400;
    text-align: center;
    vertical-align: center;
    display: block;
    border-bottom: 1px solid #e5e6e7;
}

.cost p {
    color: white;
    font-size: 39.02px;
    line-height: 34.15px;
    font-weight: 700;
    display: block;
    text-align: center;
    padding: 31px;
}

.cost span {
    color: white;
    font-size: 13.66px;
    line-height: 34.15px;
    font-weight: 200;
    display: inline-block;
    text-align: center;
}
.professional {
    box-shadow: -3px 5px 10px 0px #e3e6e8;
}
/*.professional h3::before {*/
    /*content: "offer";*/
    /*!*position: absolute;*!*/
    /*top: 17px;*/
    /*right: -20px;*/
    /*transform: rotate(45deg);*/
    /*vertical-align: middle;*/
    /*height: 0;*/
    /*width: 53px;*/
    /*border-bottom: 17px solid #18cfab;*/
    /*border-right: 18px solid transparent;*/
    /*border-left: 18px solid transparent;*/
/*}*/

.professional,
.business,
.personal,
.diamond {
    width: 284px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
}

.table button:hover,
.cost:hover {
    background-color: #18cfab;
}
.professional p,
.professional button {
    background-color: #18cfab;
}

.table h3:hover,
.check-user h2:hover {
    color: #18cfab;
}
.some-div {
    display: block;
    vertical-align: center;
    margin-top: 50px;
    margin: 0 auto;
}

.main-thumb-slider img {
    /*border-radius: 100%;*/
}
.main-slider {
    display: block;
    position: relative;
    width: 165px;
    height: 165px;
    border-radius: 100%;
    margin: 0 auto;
    margin-bottom: 54px;
}
.main-slider img {
    border-radius: 100%;
    border: 12px solid #2b5f62;
}
.main-thumb-slider {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 54px;
}
.main-thumb-slider .current-slider {
border: 2px solid #18cfab;
}

.main-thumb-slider div {
    text-align: center;
}

.main-thumb-slider img {
border: 4px solid #18cfab;
border-radius: 100%;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    background: transparent;
    transform: translateY(-180%);
}

.slick-prev,
.slick-next {
    width: 31px;
    height: 31px;
    background: transparent;
    border: 1px solid #bbbbbb;
    font-size: 0;
}

.slick-prev {
    left: -170px;
    background-image: url(../images/Left-arrow.svg);
}

.slick-next {
    right: -170px;
    background-image: url(../images/Right-arrow.svg);
}

.slick-prev:hover,
.slick-next:hover {
    background: #18cfab;
    border: none;
}
.citate span {
    display: block;
}

.opinion {
    background: #2e404d;
}

.header-opinion h2 {
    color: #ffffff;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    display: block;
    text-align: center;
    padding-top: 100px;
}
.header-opinion img {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
}

.people p {
    color: #bbbbbb;
    font-size: 16px;
    line-height: 30px;
    font-weight: 200;
    display: block;
    text-align: center;
}

.check-user h2 {
    color: #bbbbbb;
    font-size: 16px;
    line-height: 27px;
    font-weight: 700;
    display: block;
    text-transform: uppercase;
    text-align: center;
    margin-top: 45px;
}

.check-user p {
    color: #bbbbbb;
    font-size: 13px;
    line-height: 27px;
    font-weight: 200;
    display: block;
    padding-bottom: 30px;
}

.tell p:before {
    content: url("../images/Forma.png");
}

.team {
    background: #ffffff;
    margin-top: 101px;
}

.team-lead {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #2e4a5b;
    width: 265px;
    height: 230px;
}
.team {
    position: relative;
}

.social-profile {
    background: #2e4a5b;
    display: inline-block;
    width: 25%;
    margin: 0;
    padding: 0;
}
.social-profile img {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.social-profile a:hover {
    transform: perspective(300px) rotateY(180deg);
    color: #eee;
    transition: transform 0.2s linear, background-color 0s linear 0.1s, color 0s linear 0.1s;
}

.social-profile a:nth-child(1):hover {
    background-color: #3B5998;
}

.social-profile a:nth-child(2):hover {
    background-color: #00ACED;
}

.social-profile a:nth-child(3):hover {
    background-color: #3B5998;
}

.social-profile a:nth-child(4):hover {
    background-color: #00ACED;
}

.header-team {
    display: block;
    text-align: center;
}

.header-team span {
    display: block;
    text-align: center;
}

.creative {
    background: #233641;
}

.creative-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.header-creative {
    display: flex;
    flex-direction: column;
}

.header-creative h2 {
    color: #ffffff;
    font-size: 51px;
    line-height: 62px;
    font-weight: 700;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    padding-top: 130px;
    margin: 0 auto;
}

.header-creative p {
    color: #18cfab;
    font-size: 47px;
    line-height: 65px;
    font-weight: 400;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 98px;
}

.ipad {
    margin-right: 60px;
    margin-bottom: 20px;
    position: relative;
}

.list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-left: 490px;
    width: 100%;
    position: absolute;
}

.list ul {
    list-style: url("../images/ok.png");
}

.list li {
    color: #f7f7f7;
    padding-left: 21px;
}

.list li + li {
    padding-top: 15px;
}

.creative button {
    width: 166px;
    height: 60px;
    border: none;
    border-radius: 4px;
    margin-top: 70px;
    background: #18cfab;
}

.creative a {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 13px;
    line-height: 31.83px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
}

.place {
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.second-block h2 {
    color: #4e4e4e;
    font-size: 36.02px;
    line-height: 40.02px;
    font-weight: 400;
    display: inline-block;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 50px;
}

.name-form,
.name-form::placeholder,
.email-form,
.email-form::placeholder,
.message-form,
.message-form::placeholder {
    font-size: 14.01px;
    font-weight: 200;
    line-height: 19.01px;
    margin: 10px;
    display: block;
    border: none;
    color: #90aebd;
}

.name-form input,
.name-form textarea,
.request button {
    width: 555px;
    background-color: transparent;
    vertical-align: middle;
    color: #666;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #d7e2e0;
    margin-bottom: 13px;
    outline: none;
}

.message-form input {
    height: 185px;
    vertical-align: top;
}

input,
button {
    outline: none;
}

#map {
    width: 945px;
    height: 551px;
    display: block;
    margin-top: 130px;
    margin-right: 30px;
    margin-bottom: 132px;
}

.request {
    width: 555px;
    background-color: #18cfab;
    border-radius: 4px;
    border: none;
    padding: 0;
}

.request {
    color: #fff;
    font-size: 14.01px;
    line-height: 16.01px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 27px 200px;
    text-decoration: none;
    margin: 0 auto;
    outline: none;
}

.footer {
    background-color: #22353f;
}

.content p,
.content span {
    color: #aeaeae;
    font-size: 14px;
    line-height: 26px;
    font-weight: 200;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content span {
    color: #18cfab;
}

.second-block span:after {
    margin-bottom: 90px;
}

.second-block span:before {
    margin-top: 35px;
}
.background-container {
    background: #1c2b33;
}
.multimedia {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.some-text {
    margin-bottom: 80px;
}

.adress {
    padding-bottom: 37px;
}

.icon span {
    color: #fff;
    font-size: 40px;
    line-height: 9.53px;
    font-weight: 400;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
}

#icon{
    color: #18cfab;
    font-weight: 700;
    font-size: 40px;
    line-height: 9.53px;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
}

.some-text,
.adress,
.email {
    color: #b2b2b2;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}
.first-column {
    width: 256px;
}
.second-column {
    width: 337px;
}

.third-column {
    width: 260px;
}

.first-column,
.second-column,
.third-column {
    margin-top: 130px;
}
.second-column h2 {
    color: #fff;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    display: block;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
}

.second-column h3,
.third-column h2,
.four-column h2 {
    color: #fff;
    font-size: 16px;
    line-height: 36.48px;
    font-weight: 700;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
}

.second-column h3:hover {
    color: #18cfab;
}

.second-column p,
.second-column a,
.third-column p {
    color: #b2b2b2;
    font-size: 14px;
    line-height: 25px;
    font-weight: 200;
    display: inline-block;
    margin: 0 auto;
}
.third-column p {
    margin-bottom: 20px;
}
.second-column a {
    color: #f1f1f1;
    line-height: 30px;
    margin-left: 80px;
    text-decoration: none;
}

.second-column img {
    display: inline-block;
    float: left;
    margin-right: 15px;
}

.second-column hr,
.third-column hr {
    background-color: #294453;
    width: 338px;
    text-align: center;
    display: block;
    margin-top: 33px;
    margin-bottom: 30px;
}
.third-column hr {
    width: 240px;
}

.third-column a {
    color: #b8b8b8;
    font-size: 14px;
    line-height: 40px;
    font-weight: 200;
    display: inline-block;
    margin: 0 auto;
}
.third-column h2 {
    margin-bottom: 46px;
}

.media ul {
    padding: 0;
}
.media li {
    width: 75px;
    height: 36px;
    border: 1px solid #acacac;
    display: block;
}
.media li+li {
    margin-bottom: 5px;
}
.media li:hover {
    border: none;
    background: #18cfab;
}

.media{
    width: 245px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}

.media a {
    padding-left: 10px;
    text-decoration: none;
}
.four-column {
    width: 175px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.four-column h2 {
    margin-bottom: 20px;
}
.four-column div {
    width: 75px;
    height: 75px;
}
.four-column div+div {
    margin-bottom: 13px;
}
.your-email form {
    width: 195px;
    height: 42px;
    background: #22353f;
    border: none;
}
.your-email input {
    background-color: #22353f;
    padding: 8px;
}

.your-email input,
.submit a {
    color: #757575;
    font-size: 14px;
    line-height: 26px;
    font-weight: 200;
    display: inline-block;
    margin: 0 auto;
    border: none;
}
.submit {
    width: 42px;
    height: 42px;
    background: #294453;
    color: #fff;
    border: none;
}
.submit a {
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
}
.submit a:hover {
    color: #18cfab;
}
.content span::after {
    content: "|";
    color: #919198;
}

@media (min-width: 720px)  {

}