.wrapper {
    width: 920px;
    margin: auto;
    display: table;
}

p {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color:#282828;
}

table{
    counter-reset: row-num;
}

tr{
    counter-increment: row-num;
}
.counter {
    width: 40px;
    height: auto;
    text-align: center;
    vertical-align: middle;
}

td:first-child{
    background-color: #cc4242;
}

.counter::before {
    content: counter(row-num);
}
li:nth-child(2n-1) {
    background-color: #cc4242;
}
li:nth-child(2n) {
    background-color: #cc4242;
}